<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmployeeLabel" jhiTranslate="testApp.employee.home.createOrEditLabel">Create or edit a Employee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!employee.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.firstName" for="field_firstName" [ngbTooltip]="'testApp.employee.help.firstName' | translate">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="employee.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="employee.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="employee.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="employee.phoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.hireDate" for="field_hireDate">Hire Date</label>
            <div class="d-flex">
                <input id="field_hireDate" type="datetime-local" class="form-control" name="hireDate" [(ngModel)]="employee.hireDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.salary" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                [(ngModel)]="employee.salary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.commissionPct" for="field_commissionPct">Commission Pct</label>
            <input type="number" class="form-control" name="commissionPct" id="field_commissionPct"
                [(ngModel)]="employee.commissionPct" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="employee.departmentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="testApp.employee.manager" for="field_manager">Manager</label>
            <select class="form-control" id="field_manager" name="manager" [(ngModel)]="employee.managerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
