<div>
    <h2>
        <span jhiTranslate="testApp.jobHistory.home.title">Job Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-history-my-suffix" [routerLink]="['/', { outlets: { popup: ['job-history-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="testApp.jobHistory.home.createLabel">
            Create new Job History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="testApp.jobHistory.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="testApp.jobHistory.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="language"><span jhiTranslate="testApp.jobHistory.language">Language</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobId"><span jhiTranslate="testApp.jobHistory.job">Job</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="departmentId"><span jhiTranslate="testApp.jobHistory.department">Department</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="employeeId"><span jhiTranslate="testApp.jobHistory.employee">Employee</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let jobHistory of jobHistories ;trackBy: trackId">
                <td><a [routerLink]="['../job-history-my-suffix', jobHistory.id ]">{{jobHistory.id}}</a></td>
                <td>{{jobHistory.startDate | date:'medium'}}</td>
                <td>{{jobHistory.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'testApp.Language.' + jobHistory.language}}">{{jobHistory.language}}</td>
                <td>
                    <div *ngIf="jobHistory.jobId">
                        <a [routerLink]="['../job-my-suffix', jobHistory.jobId  ]" >{{jobHistory.jobId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.departmentId">
                        <a [routerLink]="['../department-my-suffix', jobHistory.departmentId  ]" >{{jobHistory.departmentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.employeeId">
                        <a [routerLink]="['../employee-my-suffix', jobHistory.employeeId  ]" >{{jobHistory.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-history-my-suffix', jobHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-history-my-suffix/'+ jobHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-history-my-suffix/'+ jobHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
